# Build folder
build_all/

# Other files generated after compiling
*.o
src/picsimlab
tools/PinViewer/PinViewer
tools/espmsim/espmsim
tools/srtank/srtank

share/parts/Virtual/VCD Dump 16/
src/parts/virtual_VCD_Dump2.cc
src/parts/virtual_VCD_Dump2.h
__pycache__
