Source: picsimlab
Section: electronics
Priority: extra
Maintainer: Luis Claudio Gamboa Lopes <lcgamboa@yahoo.com>
Build-Depends: debhelper (>= 7)
Standards-Version: 3.7.3
Homepage: https://lcgamboa.github/picsimlab

Package: picsimlab
Architecture: any
Depends: gtkwave, cutecom, ${shlibs:Depends}, ${misc:Depends}
Description:PICSimLab - PIC Simulator Laboratory 
 PICSimLab is a realtime emulator of development boards with 
 integrated MPLABX/avr-gdb debugger. PICSimLab supports picsim
 microcontrollers (PIC16F84, PIC16F628, PIC16F648, PIC16F777,
 PIC16F877A, PIC18F452, PIC18F4520, PIC18F4550 and PIC18F4620)
 and simavr microcontrollers (ATMEGA328). PICSimLab have integration
 with MPLABX/Arduino IDE for programming the boards microcontrollers.
