[Desktop Entry]
Name=PICsimLab
Comment="Pic simulator Laboratory"
Exec=picsimlab
Icon=/usr/share/picsimlab/logo.png
Terminal=false
Type=Application
Categories=Development;Engineering;Electronics;
