/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }
DIV.equation { text-align-last:justify; white-space: nowrap; } /* place eq nos */
SPAN.MATH { display:inline-block; }	/* don't stretch spaces inside eqn */

DIV.author_info { text-align:center; } /* latex centers author */

.LEFT    { text-align:left; }
.CENTER  { text-align:center; }
.CENTER > * { margin:auto; }
.RIGHT   { text-align:right; }
.TOP     { vertical-align:top; }
.MIDDLE  { vertical-align:middle; }
.BOTTOM  { vertical-align:bottom; }

IMG.LEFT    { float:left; }
IMG.RIGHT   { float:right; }
IMG.TOP     { vertical-align:top; }
IMG.BOTTOM  { vertical-align:baseline; }

DL.COMPACT > dt { float:left; padding-right: 1em; }
BODY { width:95%; max-width:50em; margin:auto; }

/* implement both fixed-size and relative sizes */
.XTINY		{ font-size : xx-small }
.TINY		{ font-size : x-small  }
.SCRIPTSIZE	{ font-size : smaller  }
.FOOTNOTESIZE	{ font-size : small    }
.SMALL		{  }
.LARGE		{  }
.XLARGE		{ font-size : large    }
.XXLARGE		{ font-size : x-large  }
.HUGE		{ font-size : larger   }
.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ }	/* math displays */
TD.eqno			{ width:0; }	/* equation-number cells */
TABLE.PAD TD	{ padding:3px; }
TABLE.BORDER TD	{ border:1px solid black; }
TABLE.equation	{ width:100%; }	/* place eq nos at right/left edge */
TABLE.equation > *	{ vertical-align:baseline; }
TABLE.equation TD	{ white-space:nowrap; }
TABLE		{ border-collapse: collapse; }

/* document-specific styles come next */
DIV.center		{   }
DIV.navigation		{   }
PRE.preform		{   }
SPAN.Roman		{   }
SPAN.arabic		{   }
SPAN.textbf		{ font-weight: bold  }
#hue1000		{ color: #ff0000;  }
#hue1002		{ color: #ff0000;  }
#hue1004		{ color: #ff0000;  }
#hue1006		{ color: #ff0000;  }
#hue1008		{ color: #ff0000;  }
#hue1010		{ color: #ff0000;  }
#hue1012		{ color: #ff0000;  }
#hue1014		{ color: #ff0000;  }
#hue1016		{ color: #ff0000;  }
#hue1018		{ color: #ff0000;  }
#hue1033		{ color: #ff0000;  }
#hue1036		{ color: #ff0000;  }
#hue1046		{ color: #ff0000;  }
#hue1049		{ color: #ff0000;  }
#hue1052		{ color: #ff0000;  }
#hue1067		{ color: #ff0000;  }
#hue1077		{ color: #ff0000;  }
#hue1101		{ color: #ff0000;  }
#hue1104		{ color: #ff0000;  }
#hue1128		{ color: #ff0000;  }
#hue1131		{ color: #ff0000;  }
#hue117		{ color: #ff0000;  }
#hue261		{ color: #ff0000;  }
#hue263		{ color: #ff0000;  }
#hue265		{ color: #ff0000;  }
#hue267		{ color: #ff0000;  }
#hue269		{ color: #ff0000;  }
#hue271		{ color: #ff0000;  }
#hue273		{ color: #ff0000;  }
#hue275		{ color: #ff0000;  }
#hue277		{ color: #ff0000;  }
#hue279		{ color: #ff0000;  }
#hue281		{ color: #ff0000;  }
#hue296		{ color: #ff0000;  }
#hue299		{ color: #ff0000;  }
#hue309		{ color: #ff0000;  }
#hue312		{ color: #ff0000;  }
#hue315		{ color: #ff0000;  }
#hue330		{ color: #ff0000;  }
#hue340		{ color: #ff0000;  }
#hue364		{ color: #ff0000;  }
#hue367		{ color: #ff0000;  }
#hue391		{ color: #ff0000;  }
#hue394		{ color: #ff0000;  }
#hue854		{ color: #ff0000;  }
#hue998		{ color: #ff0000;  }
