/* Century Schoolbook font is very similar to Computer Modern Math: cmmi */
.MATH    { font-family: "Century Schoolbook", serif; }
.MATH I  { font-family: "Century Schoolbook", serif; font-style: italic }
.BOLDMATH { font-family: "Century Schoolbook", serif; font-weight: bold }
DIV.equation { text-align-last:justify; white-space: nowrap; } /* place eq nos */
SPAN.MATH { display:inline-block; }	/* don't stretch spaces inside eqn */

DIV.author_info { text-align:center; } /* latex centers author */

.LEFT    { text-align:left; }
.CENTER  { text-align:center; }
.CENTER > * { margin:auto; }
.RIGHT   { text-align:right; }
.TOP     { vertical-align:top; }
.MIDDLE  { vertical-align:middle; }
.BOTTOM  { vertical-align:bottom; }

IMG.LEFT    { float:left; }
IMG.RIGHT   { float:right; }
IMG.TOP     { vertical-align:top; }
IMG.BOTTOM  { vertical-align:baseline; }

CAPTION.BOTTOM { caption-side:bottom; }

DL.COMPACT > dt { float:left; padding-right: 1em; }
BODY { width:95%; max-width:50em; margin:auto; }

/* implement both fixed-size and relative sizes */
.XTINY		{ font-size : xx-small }
.TINY		{ font-size : x-small  }
.SCRIPTSIZE	{ font-size : smaller  }
.FOOTNOTESIZE	{ font-size : small    }
.SMALL		{  }
.LARGE		{  }
.XLARGE		{ font-size : large    }
.XXLARGE		{ font-size : x-large  }
.HUGE		{ font-size : larger   }
.XHUGE		{ font-size : xx-large }

/* heading styles */
H1		{  }
H2		{  }
H3		{  }
H4		{  }
H5		{  }

/* mathematics styles */
DIV.displaymath		{ text-align:center; }	/* math displays */
TD.eqno			{ width:0; }	/* equation-number cells */
TABLE.PAD TD	{ padding:3px; }
TABLE.BORDER TD	{ border:1px solid black; }
TABLE.equation	{ width:100%; }	/* place eq nos at right/left edge */
TABLE.equation > *	{ vertical-align:baseline; }
TABLE.equation TD	{ white-space:nowrap; }
TABLE		{ border-collapse: collapse; }

/* document-specific styles come next */
DIV.center		{   }
DIV.navigation		{   }
PRE.preform		{   }
SPAN.Roman		{   }
SPAN.arabic		{   }
SPAN.textbf		{ font-weight: bold  }
#hue113		{ color: #ff0000;  }
#hue1329		{ color: #ff0000;  }
#hue1477		{ color: #ff0000;  }
#hue1479		{ color: #ff0000;  }
#hue1481		{ color: #ff0000;  }
#hue1483		{ color: #ff0000;  }
#hue1485		{ color: #ff0000;  }
#hue1487		{ color: #ff0000;  }
#hue1489		{ color: #ff0000;  }
#hue1491		{ color: #ff0000;  }
#hue1493		{ color: #ff0000;  }
#hue1495		{ color: #ff0000;  }
#hue1497		{ color: #ff0000;  }
#hue1499		{ color: #ff0000;  }
#hue1501		{ color: #ff0000;  }
#hue1503		{ color: #ff0000;  }
#hue1505		{ color: #ff0000;  }
#hue1507		{ color: #ff0000;  }
#hue1522		{ color: #ff0000;  }
#hue1525		{ color: #ff0000;  }
#hue1528		{ color: #ff0000;  }
#hue1538		{ color: #ff0000;  }
#hue1541		{ color: #ff0000;  }
#hue1549		{ color: #ff0000;  }
#hue1552		{ color: #ff0000;  }
#hue1567		{ color: #ff0000;  }
#hue1577		{ color: #ff0000;  }
#hue1602		{ color: #ff0000;  }
#hue1605		{ color: #ff0000;  }
#hue1615		{ color: #ff0000;  }
#hue1632		{ color: #ff0000;  }
#hue1635		{ color: #ff0000;  }
#hue1638		{ color: #ff0000;  }
#hue196		{ color: #ff0000;  }
#hue206		{ color: #ff0000;  }
#hue216		{ color: #ff0000;  }
#hue224		{ color: #ff0000;  }
#hue232		{ color: #ff0000;  }
#hue240		{ color: #ff0000;  }
#hue314		{ color: #ff0000;  }
#hue316		{ color: #ff0000;  }
#hue318		{ color: #ff0000;  }
#hue320		{ color: #ff0000;  }
#hue322		{ color: #ff0000;  }
#hue324		{ color: #ff0000;  }
#hue326		{ color: #ff0000;  }
#hue328		{ color: #ff0000;  }
#hue330		{ color: #ff0000;  }
#hue332		{ color: #ff0000;  }
#hue334		{ color: #ff0000;  }
#hue336		{ color: #ff0000;  }
#hue338		{ color: #ff0000;  }
#hue340		{ color: #ff0000;  }
#hue342		{ color: #ff0000;  }
#hue344		{ color: #ff0000;  }
#hue359		{ color: #ff0000;  }
#hue367		{ color: #ff0000;  }
#hue375		{ color: #ff0000;  }
#hue392		{ color: #ff0000;  }
#hue400		{ color: #ff0000;  }
#hue408		{ color: #ff0000;  }
#hue416		{ color: #ff0000;  }
#hue457		{ color: #ff0000;  }
#hue474		{ color: #ff0000;  }
#hue500		{ color: #ff0000;  }
#hue517		{ color: #ff0000;  }
#hue525		{ color: #ff0000;  }
#hue542		{ color: #ff0000;  }
#hue568		{ color: #ff0000;  }
#hue576		{ color: #ff0000;  }
#hue587		{ color: #ff0000;  }
