[Desktop Entry]
Name=PICSimLab
Comment="PIC Simulator Laboratory"
Exec=picsimlab
Icon=/usr/share/picsimlab/picsimlab.png
Terminal=false
Type=Application
Categories=Development;Engineering;Electronics;
MimeType=application/x-picsimlab-workspace;
